.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.particles-bg {
  position: absolute !important;
  inset: 10px;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 800px;
  padding: 20px;
  color: white;
}

.hero-content h1 {
  font-size: 2rem;
  color: #3b010b;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1rem;
  line-height: 1.8;
  color: #75162d;
}