.about {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  color: white;
  font-family: Arial, sans-serif;
}

.about-us {
  max-width: 1100px;
  text-align: center;
}

.about-us h1 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #3b010b;
}

.about-us p {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 40px;
  color: #75162d;
}

.about-content {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.about-card {
  padding: 20px;
  border-radius: 15px;
  width: 300px;
  box-shadow: 0 8px 20px #3b010b;
  transition: transform 0.3s ease;
}

.about-card:hover {
  transform: translateY(-10px);
}

.about-card h2 {
  color: #75162d;
  margin-bottom: 15px;
  font-size: 1.2rem;
}

.about-card p {
  color: black;
  font-size: 1rem;
}